#VSCODE 
./.vscode

# dependencies
node_modules/
./node_modules/*
next-env.d.ts
bun.lockb
yarn.lock


# Expo Mobile & Next Web Build and Cache
.expo/
dist/
web-build/
/build
.next
/.next/
/out/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
./.env*
./.env
.env*.local
./.env*.local
.env
mobile/.env
web/.env

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem
